function Rect.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 3
pop this 3
push pointer 0
return
function Rect.getX 0
push argument 0
pop pointer 0
push this 0
return
function Rect.getY 0
push argument 0
pop pointer 0
push this 1
return
function Rect.setX 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 0
return
function Rect.setY 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push constant 0
return
function Rect.getW 0
push argument 0
pop pointer 0
push this 2
return
function Rect.getH 0
push argument 0
pop pointer 0
push this 3
return
